#modules-checklist-settings-form .messages {
  margin: 10px 0 20px;
}

#edit-modules-checklist .fieldset-wrapper {
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#edit-modules-checklist span.enabled {
  color: green;
  font-weight: bold;
}

#edit-modules-checklist span.disabled {
  font-size: 0.9em;
}

#edit-modules-checklist span.module-required {
  color: red;
  font-weight: bold;
}

#edit-modules-checklist span.module-optional {
  color: orange;
  font-weight: bold;
}

#edit-modules-checklist span.module-disabled {
  font-size: 0.9em;
}

#modules-checklist-settings-form #edit-check-all {
  overflow: hidden;
}

#modules-checklist-settings-form #edit-check-all .form-type-radio {
  float: left;
  margin-right: 30px;
}
